*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{

    background-color: aquamarine;
}


header h1{

    font-family: Kanit;
}


h2{

    font-family: inter;
}

img{

    width: 20%;
}

ul:hover{
background-color: blue;

}


.container {
    position: relative;
    transform: translateY(200px);
 
  }
.container img{

  position: absolute; 
  top: -32.5rem; 
left: 330px;

  width: 20%;
  height: auto;
  z-index: 2;
}


footer h1{

    margin-top: 1000rem;
}